.connection {
  padding: 110px 0;
  background-color: #34495e; }
  .connection__title {
    font-size: 48px;
    font-weight: 300;
    line-height: 0.63;
    text-align: center;
    color: #ffffff; }
