.intro {
  padding: 115px 0 100px 0; }
  .intro__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 120px; }
    .intro__block__image {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .intro__block__image__big {
        width: 142px;
        height: 142px;
        margin-right: 15px; }
      .intro__block__image__small {
        width: 81px;
        height: 82px; }
  .intro__descr {
    width: 50%; }
    .intro__descr__title {
      margin-bottom: 30px;
      font-size: 24px;
      text-align: left;
      color: #34495e; }
    .intro__descr__text {
      font-size: 18px;
      line-height: 1.67;
      text-align: left;
      color: #34495e; }
  .intro__case {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .intro__case__item {
      width: 28%; }
      .intro__case__item__title {
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        color: #2c3e50;
        margin-bottom: 8px; }
      .intro__case__item__text {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.29;
        text-align: center;
        color: #2c3e50; }
      .intro__case__item img {
        display: block;
        margin: 0 auto;
        width: 99px;
        height: 99px;
        margin-bottom: 25px; }
