.header {
  background: url("../../image/ethernet_bg.jpg") center center/cover no-repeat;
  padding-top: 59px;
  padding-bottom: 40px; }
  .header__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .header__info__image {
      position: relative;
      width: 415px;
      height: 531px;
      margin-right: 38px; }
    .header__info__buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      position: absolute;
      top: 55px;
      left: 50px; }
    .header__info__button {
      width: 310px;
      height: auto;
      background-color: #2a2b2a;
      display: block;
      font-size: 14px;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
      cursor: pointer;
      margin: 0 auto;
      padding: 5px 0; }
      .header__info__button:hover {
        border: 1px solid white; }
    .header__info__title {
      margin-bottom: 45px; }
      .header__info__title h1 {
        font-size: 45px;
        font-weight: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin-bottom: 20px; }
      .header__info__title h2 {
        font-size: 30px;
        font-weight: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff; }
    .header__info__text {
      font-size: 16px;
      font-weight: 300;
      font-style: normal;
      line-height: 1.87;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      margin-bottom: 61px; }

.main_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 164px; }
  .main_menu__logo img {
    display: block;
    width: 210px;
    height: 100px; }
  .main_menu__wrapper {
    width: 60%; }
  .main_menu__hamburger {
    display: none; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .menu__item {
    font-size: 22px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 18px; }
    .menu__item:hover {
      border-bottom: 3px solid #3498db;
      color: #ffffff;
      text-decoration: none; }
