.header {
  background: url("../../image/ethernet_bg.jpg") center center/cover no-repeat;
  padding-top: 59px;
  padding-bottom: 40px;
}
.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__info__image {
  position: relative;
  width: 415px;
  height: 531px;
  margin-right: 38px;
}
.header__info__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  top: 55px;
  left: 50px;
}
.header__info__button {
  width: 310px;
  height: auto;
  background-color: #2a2b2a;
  display: block;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 auto;
  padding: 5px 0;
}
.header__info__button:hover {
  border: 1px solid white;
}
.header__info__title {
  margin-bottom: 45px;
}
.header__info__title h1 {
  font-size: 45px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}
.header__info__title h2 {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.header__info__text {
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.87;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-bottom: 61px;
}

.main_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 164px;
}
.main_menu__logo img {
  display: block;
  width: 210px;
  height: 100px;
}
.main_menu__wrapper {
  width: 60%;
}
.main_menu__hamburger {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu__item {
  font-size: 22px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 18px;
}
.menu__item:hover {
  border-bottom: 3px solid #3498db;
  color: #ffffff;
  text-decoration: none;
}

.btn {
  display: none;
  width: 171px;
  height: 58px;
  border-radius: 4px;
  background-color: #3498db;
  border: none;
  display: block;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 20px;
}
.btn:hover {
  background-color: #4267b2;
}

.intro {
  padding: 115px 0 100px 0;
}
.intro__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 120px;
}
.intro__block__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.intro__block__image__big {
  width: 142px;
  height: 142px;
  margin-right: 15px;
}
.intro__block__image__small {
  width: 81px;
  height: 82px;
}
.intro__descr {
  width: 50%;
}
.intro__descr__title {
  margin-bottom: 30px;
  font-size: 24px;
  text-align: left;
  color: #34495e;
}
.intro__descr__text {
  font-size: 18px;
  line-height: 1.67;
  text-align: left;
  color: #34495e;
}
.intro__case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.intro__case__item {
  width: 28%;
}
.intro__case__item__title {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #2c3e50;
  margin-bottom: 8px;
}
.intro__case__item__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.29;
  text-align: center;
  color: #2c3e50;
}
.intro__case__item img {
  display: block;
  margin: 0 auto;
  width: 99px;
  height: 99px;
  margin-bottom: 25px;
}

.photos {
  padding: 55px 0 78px 0;
  background: url("../../image/base.jpg") center center/cover no-repeat;
}
.photos__main-title {
  font-size: 30px;
  font-weight: normal;
  line-height: 1.67;
  text-align: center;
  color: #ffffff;
  margin-bottom: 5px;
}
.photos__title {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.67;
  text-align: center;
  color: #ffffff;
  margin-bottom: 70px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.slider__prev {
  width: 48px;
  height: 84px;
  cursor: pointer;
  margin-top: 50px;
}
.slider__next {
  width: 48px;
  height: 84px;
  cursor: pointer;
  margin-top: 50px;
}
.slider__wrapper {
  display: block;
  margin: 0 auto;
  width: 454px;
  overflow: hidden;
}
.slider__wrapper img {
  width: 700px;
  height: 400px;
  z-index: 1;
}
.slider__slide {
  width: 100%;
}
.slider__slide img {
  width: 419px;
  height: 261px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 100;
  margin-top: 20px;
  margin-left: 17px;
}
.slider__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1816px;
}
.slider__block {
  width: 700px;
  height: 400px;
  background: url("../../image/MacBook1.png") center center/cover no-repeat;
}

.reason {
  padding: 26px 0 138px 0;
}
.reason h2 {
  font-size: 48px;
  font-weight: 300;
  line-height: 0.63;
  text-align: center;
  color: #34495e;
  margin-bottom: 70px;
}
.reason__block {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
}
.reason__block img {
  width: 142px;
  height: 156px;
  margin-right: 22px;
}
.reason__title {
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.reason__text {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.29;
  text-align: left;
  color: #34495e;
}

.footer {
  padding: 15px 20px 15px 20px;
  background-color: #2c3e50;
}
.footer__divider {
  width: 299px;
  height: 4px;
  background-color: #ffffff;
  margin: 0 auto;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
}
.footer__social {
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__social__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4px;
  width: 49px;
  height: 49px;
}
.footer__social__items:hover {
  text-decoration: none;
  color: #77ace2;
}
.footer__social__items i {
  color: #ffffff;
  font-size: 30px;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 15px;
}
.footer__links a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  margin-right: 15px;
}
.footer__links a:hover {
  text-decoration: none;
  color: #77ace2;
}
.footer__cont {
  text-align: center;
  line-height: 21px;
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
}

#facebook:hover {
  color: #4267b2;
}

#viber:hover {
  color: #735ff2;
}

#instagram:hover {
  color: #d42f7a;
}

#telegram:hover {
  color: #77ace2;
}

.message {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  top: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.message__content {
  position: relative;
  width: 100%;
  padding: 50px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-height: 80vh;
  overflow-y: auto;
}
.message__dialog {
  max-width: 700px;
  margin: 70px auto;
}
.message__times {
  font-size: 40px;
  color: #000000;
  position: absolute;
  top: 10px;
  right: 30px;
  cursor: pointer;
}

.show {
  display: block;
}

.hide {
  display: none;
}

@media (max-width: 575px) {
  .header {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .header__info__image {
    display: none;
  }
  .header__info__title h1 {
    font-size: 20px;
  }
  .header__info__title h2 {
    font-size: 18px;
  }
  .header__info__text {
    font-size: 10px;
  }

  .main_menu {
    margin-bottom: 50px;
  }
  .main_menu__logo {
    display: block;
    margin: 0 auto;
  }
  .main_menu__logo img {
    display: block;
    width: 105px;
    height: 50px;
  }
  .main_menu__wrapper {
    display: none;
  }
}
* {
  font-family: "Open Sans", sans-serif;
}

button :active {
  border: none;
}
button :visited {
  border: none;
}